@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center w-75 p-4 m-auto">
    <h1 class="display-4">Welcome to our car company</h1>
    <p>
        Lorem ipsum används ofta som exempeltext inom trycksaksframställning och grafisk design för att visa hur till exempel
        ett dokument kommer att se ut när väl den riktiga texten är på plats
    </p>

</div>
